---
import Layout from "../layouts/Layout.astro";
import GeneralSection from "../components/GeneralSection.astro";
import DetailedSection from "../components/DetailedSection.astro";
---

<Layout title="Ghita's Portfolio">
  <main class="grid grid-cols-1 md:grid-cols-2 gap-2 md:gap-12">
    <!-- First Column: Smooth Scroll Effect -->
    <GeneralSection/>
    <!-- Second Column: Scrollable Content -->
    <DetailedSection/>
  </main>
</Layout>