<article>
  <footer class="flex flex-col pb-6">
      <!-- <p class="text-base text-neutral-400 font-semibold">
      Built by Ghita Loukili
      </p>
      <p class="text-sm text-neutral-400">
      Design based on <a href="https://brittanychiang.com" target="_blank" rel="noopener noreferrer" class="hover:text-teal-500 transition duration-300 ease-in-out cursor-pointer">Brittany Chiang portfolio</a>
      </p> -->
  </footer>
</article>