---
import BlurCircle from "../components/shared/BlurCircle.astro";
import SeoTags from "../components/SeoTags.astro";
import type { HeadTags } from "../utils/types/HeadTags";
import theme from "../data/theme";
import "../styles/project.css";
import "../styles/tailwind.css";

export type Props = HeadTags;

const headTags = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <SeoTags {...headTags} />
  </head>
  <body
    class="mx-auto flex h-screen max-w-[1250px] flex-col gap-9 bg-zinc-950 md:px-10 px-6 py-8 text-sm text-neutral-400 md:gap-20 md:py-16 bg-app"
  >
    <BlurCircle position="top" color={theme.colors.blur.top} />
    <BlurCircle position="bottom" color={theme.colors.blur.bottom} />
    <slot />
    <footer class="flex flex-col pb-1"></footer>
  </body>
</html>
